/* Теги */
body {
    background-image: url("../img/Background.png");

    margin: 0px;
    overflow-wrap: break-word;
    overflow-x: hidden;
}

ul {
    margin: 1vw;
}

li {
    color: white;
}

p {
    color: white;
}

hr {
    border-width: .2vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
    border-style: dashed;
    color: white;
}

#footer {
    margin-top: 2vh;
    margin-left: 10px;
    margin-right: 10px;
    text-align: end;
    color: gray;
    float:right;
    font-size: 2vh;
}


/* Айди */
#content {
    padding-top: 1vh;
    background: linear-gradient(120deg, #393939, 80%, #242424);
    margin-left: 15vw;
    margin-right: 15vw;
    
}

#title {
    text-align: center;
    color: white;
    margin:0;
    margin-bottom: 2vh;
    font-size: 4vw;
}



#menubutton {
    padding-bottom: 3vh;
}

#articlebutton {
    max-width: 50vw;
}

#noscript {
    float:right;
    color:red;
}

#logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

#logoimg {
    width: 10vw;
}


/* Классы */
.badrow {
    margin: 0px !important;
}

.navbar {
    padding-top: 0px !important;
}

.navbar-toggler {
    padding: 0px !important;
}

.navbar-toggler-icon {
    background-color: white;
    width: 70px !important;
    height: 70px !important;
}

a.nav-link{
    color: white;
    font-size: 2vh;
    padding-bottom: 0px;
}

.navmenu {
    background-color: rgba(255, 166, 0, 0.2);
    border-bottom:1vh orange dashed;
    border-top:1vh orange dashed;
}
.navbutton {
    height: 12vh;
    width: 20vw;
    font-size: 2vw;
    background-color: #151515;
    color: white;
    border: 0px;
    margin: .1vw;
}

.container-fluid {
    padding: 0px !important;
    flex-wrap: nowrap !important;
}

.sectionName {
    text-align: center;
    color: white;
}

.section {
    padding-left: 30px;
    padding-right:30px;
}


/* Анимация кнопки при наведении мышкой */
.navbutton:hover {
    animation: ButtonHover 0.4s 1 forwards;
}

/* .image-container {
    position: static;
    display: inline-block;
}

.sparks-canvas {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}

@keyframes ButtonHover {
    to {
        color: orange;
        background-color:#282828;
    }
}

@keyframes spark {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(0);
        opacity: 0;
    }
} */



/* Адаптивный design */
@media screen and (max-width: 768px) {
    
    body {
        font-size: 3vh;
    }

    hr {
        border-width: .2vh;
    }

    #logoimg {
        width: 12vh;
    }

    #title {
        font-size: 4vh;
    }
    

    .badcol {
        padding: 0px !important;
        display: flex !important;

    }

    .navbutton {
        width: 100vw;
        height: 10vh;
        min-height: 20px;
        max-height: 160px;
        font-size: 2vh;
        margin: 0px;
        padding: 0px;
    }   
}

/* @media screen and (min-width: 769px) {
    .container-fluid {
        position: sticky;
        top: 0;
    }
} */


/* ПРО окно */
.form-container-authorization {
    display: none;
    position: fixed;
    width: 77vw;
    max-width: 500px;
    min-width: 278px;
    height: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background-color: rgb(18, 16, 16);
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    
}

.form-container-authorization.active {
    display: block;
}

.BottomText {
    position: absolute;
    bottom: 0;
    padding-bottom: 10px;
    padding-right: 15px;
    width: 97%;
}

.TextSprava {
    text-align: right;
    padding: 0 !important;
}


.TextSleva {
    text-align: left;
    padding: 0 !important;
}

.WithoutUnderline {
    text-decoration: none;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.overlay.active {
    display: block;
}

.BigButton {
    width: 15vw;
    min-width: 120px;
    height: 10vh;
    font-size: 24px;
}

button {
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: rgba(33, 37, 41, 1);
    color: white;
}

button:hover {
    background-color: black;
}

@media screen and (max-width: 470px){
    .WithoutUnderline {
        width: 85%;
        min-width: 116px;
    }
}



#loginButton {
    background-color: black;
    margin-right: 10px;
    margin-left: 20px;
}

#logoutButton {
    margin-left: 20px;
    margin-right: 10px;
    background-color: black;
}

.Panel {
    display: flex;
    justify-content: space-between;
}

.ImgIcon {
    inline-size: 8vh;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: 20px;
}

.button-container {
    display: flex; /* Для выравнивания кнопок */
    align-items: center; /* Вертикальное выравнивание */
}

.hidden {
    display: none;
}









@media (max-width: 600px) {
    .BeforeKnopka {
        display: none !important;
    }

    .Knopka {
        display: flex !important;
        /* Вот это чтобы справа было */
        justify-content: end;
    }

    .btn {
        text-align: right !important;
        padding: 0 !important;
    }

    .container-fluid {
        padding: 0 !important;
    }
}

.BeforeKnopka{
    align-items: center !important;
}

.MenuTable a{
    color: white;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
    background-color: black;
}

.GoToMain {
    inline-size: 6vh;
    border: 1px solid;
    border-color: black;
    border-radius: 50%;
    background-color: white;
    margin-left: 10px;
}

.GoToMenu {
    color: black;
    text-decoration: none;
}

.GoToTeam {
    color: black;
    text-decoration: none;
}

.GoToPosts {
    color: black;
    text-decoration: none;
}

.GoToSelfPosts {
    color: black;
    text-decoration: none;
}

.Knopka {
    display: none;
}

.MenuKnopka {
    inline-size: 45%;
}

header {
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(32, 32, 32);
}