body {

    background-image: url("../img/Background.png");
    overflow-wrap: break-word;
    overflow-x: hidden;
}

.row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}


.container-fluid {
    padding: 0 !important;
}


.FormContainer {
    justify-self: center;
    margin-top: 20vh;
    width: 90%;
    background: white;
    padding: 20px;
    border-radius: 15px;
    max-width: 700px;
    text-align: center;
}

.Mybtn {
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.Mybtn:hover {
    background-color: #0056b3;
}

.WhyPadding {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 5px;
    margin-bottom: 5px;
}

.ForLabel {
    margin-top: 2px;
    margin-bottom: 2px;
}

.FontLabel {
    font-weight: 600;
}


.BeforeKnopka{
    align-items: center !important;
}

@media (max-width: 600px) {
    .BeforeKnopka {
        display: none !important;

    }

    .Knopka {
        display: flex !important;
        /* Вот это чтобы справа было */
        justify-content: end;
    }

    .btn {
        text-align: end !important;
        padding: 0 !important;
    }

    .container-fluid {
        padding: 0 !important;
    }
}

.MenuTable a{
    color: white;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
    background-color: black;
}

.GoToMain {
    inline-size: 8vh;
    border: 1px solid;
    margin-left: 10px;
    border-color: black;
    border-radius: 50%;
    background-color: white;
}

.GoToMenu {
    color: black;   
    text-decoration: none;
}

.GoToTeam {
    color: black;
    text-decoration: none;
}

.GoToPosts {
    color: black;
    text-decoration: none;
}

.GoToSelfPosts {
    color: black;
    text-decoration: none;
}

.Knopka {
    display: none;
}

.MenuKnopka {
    inline-size: 45%;
}

header {
    position: sticky;
    height: 10vh;
    width: 100%;
    top: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(32, 32, 32);
}

hr {
    margin-top: 6px !important;
    margin-bottom: 6px !important;
}