{% load static %} 
{% load custom_filters %}
<!DOCTYPE html>
<html lang="ru">
 <head>
  <meta charset="utf-8"/>
  <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
  <title>
   Книга жалоб и отзывов
  </title>
  <link href="{% static 'css/AllPosts.css' %}" rel="stylesheet"/>
  <link href="{% static 'img/Logo.webp' %}" rel="shortcut icon"/>
  <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" rel="stylesheet"/>
 </head>
 <body>
  <script crossorigin="anonymous" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js">
  </script>
  {% comment %} <header class="menu">
   <a href="{% url 'index' %}">
    <img class="GoToMain" src="{% static 'img/Logo.webp' %}"/>
   </a>
   <div class="container-fluid">
    <div class="col badcol Panel">
     <div class="row badrow BeforeKnopka">
      <div class="col MenuTable">
       <a class="GoToMenu" href="{% url 'menu' %}">
        Меню
       </a>
       <a class="GoToTeam" href="{% url 'contacts' %}">
        О команде
       </a>
       <a class="GoToPosts" href="{% url 'all_posts' %}">
        Посты
       </a>
       <a href="{% url 'my_posts' %}">
        Мои отзывы
       </a>
      </div>
     </div>
     <div class="button-container">
      <button id="loginButton">
       Вход
      </button>
      <a class="hidden" href="{% url 'profile' %}" id="profile-button">
       <img alt="Личный кабинет" class="ImgIcon" src="{% static 'img/ИконкаАватара.png' %}">
       </img>
      </a>
      <button class="hidden" href="#" id="logoutButton">
       Выйти
      </button>
     </div>
     <div class="overlay" id="overlay">
     </div>
     <div class="form-container-authorization" id="loginForm">
      <form class="loginFormContent" method="POST">
       <div class="text-center">
        <label for="Email" style="color: white;">
         Логин
        </label>
        <br/>
        <input id="Email" name="username" style="width: 100%;" type="Email"/>
        <!-- required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"-->
        <br/>
        <br/>
        <label for="Password" style="color: white;">
         Пароль
        </label>
        <br/>
        <input id="Password" name="password" style="width: 100%;" type="Password"/>
        <!-- required
                              gpattern="^(?=.*[a-zA-Z])(?=.*\d)(?=.*_).{8,}$"
                              title="Пароль должен содержать хотя бы одну букву, одну цифру и ( _ ), и иметь минимум 8 символов."> -->
        <br/>
        <br/>
        <button class="BigButton" type="submit">
         Войти
        </button>
       </div>
       <div class="row BottomText badrow">
        <div class="col-6 TextSleva">
         <p>
          Нет Аккаунта?
         </p>
         <a class="WithoutUnderline" href="{% url 'registration' %}">
          Зарегистрироваться
         </a>
        </div>
        <div class="col-6 TextSprava">
         <p>
          Забыли пароль?
         </p>
         <a class="WithoutUnderline" href="{% url 'reset_password' %}">
          Восстановить пароль
         </a>
        </div>
       </div>
      </form>
      <script>
       const loginButton = document.getElementById('loginButton');
                  const overlay = document.getElementById('overlay');
                  const formContainer = document.getElementById('loginForm');
                  const passwordInput = document.getElementById('Password');
                  const submitButton = document.getElementById('submitButton');
                  const form = document.getElementById('loginFormContent');
                  const errorMessage = document.getElementById('errorMessage');
          
                  loginButton.addEventListener('click', function() {
                      overlay.classList.toggle('active');
                      formContainer.classList.toggle('active');
                  });
          
                  overlay.addEventListener('click', function() {
                    overlay.classList.remove('active');
                    formContainer.classList.remove('active');
                  });
      </script>
     </div>
     <div class="dropdown Knopka">
      <a aria-expanded="false" class="btn dropdown-toggle" data-bs-toggle="dropdown" id="dropdownMenuLink" role="button">
       <img class="MenuKnopka" src="{% static 'img/Кнопка.png' %}"/>
      </a>
      <ul aria-labelledby="dropdownMenuLink" class="dropdown-menu text-center">
       <li>
        <a class="GoToMenu" href="{% url 'menu' %}">
         Меню
        </a>
       </li>
       <hr/>
       <li>
        <a class="GoToTeam" href="{% url 'contacts' %}">
         О команде
        </a>
       </li>
       <hr/>
       <li>
        <a class="GoToPosts" href="{% url 'all_posts' %}">
         Посты
        </a>
       </li>
       <hr/>
       <li>
        <a class="GoToSelfPosts" href="{% url 'my_posts' %}">
         Мои отзывы
        </a>
       </li>
      </ul>
     </div>
    </div>
   </div>
  </header> {% endcomment %}
  {% include "menubar.html" %}
  <div class="ContainerOfAllPosts">
   <h1 class="Otz text-center">
    Все отзывы
   </h1>
   <select class="WhyPadding justify-content-center d-flex" id="filter">
    <option value="0">Без Фильтра</option>
    {% for i in restaurants %}
    <option value="{{i.pk}}" {% if filter == i.pk %}selected{% endif %}>{{i.adress}}</option>
    {% endfor %}
    </select>
    <script>
    document.getElementById("filter").addEventListener("change", function() {
        if (this.value) {
            let url = 'http://' + location.host + '/posts/all?page=1' + '&filter=' + this.value;
            window.location.href = url; // переход по ссылке
        }
    });
    </script>
   <div class="OurCont">
    {% comment %} <div class="row OnePostContent">
      <div class="col OnePostBack">
      {% if perms.posts.change_post %}
      <button class="ButtonSetting">
        <a href="{% url 'admin:posts_post_change' post.pk %}"><img class="SettingIcon" src="{% static 'img/Шестерёнка.png' %}"/></a>
      </button>
      {% endif %}
       <h2 class="PersonName">
        Пользователь: {{post.sender.username}}
       </h2>
       <div class="row">
        <div class="col-3 MyCity">
         <p>
          Город: {{post.restaurant.adress|default:"--------"}}
         </p>
        </div>
        <div class="col-3 rating">
         <p>
          Рейтинг: {{post.get_rating_display}}
         </p>
        </div>
       </div>
       <p class="review">
        {{post.review}}
       </p>
       <div class="row LikesAndDislikes">
        <div class="col-3 Likes">
         <div class="row">
          <div class="col-auto text-center">
           <p class="LikesAmount p1">
            Лайков:
           </p>
           <p class="amountL p1">
            {{post.postinfo_set.all|count_rating:1}}
           </p>
          </div>
          <div class="col-auto ForIcona">
            {% if user.is_authenticated %}
        <button class="Icona">
            <a href="{% url 'api_post_like' post.pk %}"><img class="LikeIcon" src="{% static 'img/Лайк.png' %}"/></a>
           </button>
           <a class="btn Icona">
            <img class="LikeIcon" data-pressed="{{post.postinfo_set.all|has_liked:user}}" data-post-id="{{post.pk}}" src="{% static 'img/like.png' %}"/>
           </a>
           {% endif %}
          </div>
         </div>
        </div>
        <div class="col-3 Dislikes">
         <div class="row">
          <div class="col-auto text-center">
           <p class="DislikesAmount p1">
            Дизлайков:
           </p>
           <p class="amountD p1">
            {{post.postinfo_set.all|count_rating:-1}}
           </p>
          </div>
          <div class="col-auto ForIcona">
            {% if user.is_authenticated %}
            <button class="Icona">
            <a href="{% url 'api_post_dislike' post.pk %}"><img class="DislikeIcon" src="{% static 'img/Дизлайк.png' %}"/></a>
           </button>
           <a class="btn Icona">
            <img class="DislikeIcon" data-pressed="{{post.postinfo_set.all|has_disliked:user}}" data-post-id="{{post.pk}}" src="{% static 'img/dislike.png' %}"/>
           </a>
           {% endif %}
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>{% endcomment %}
   </div>
  </div>


  <nav aria-label="Page navigation example" class="justify-content-center d-flex">
   <ul class="pagination">
        <li class="page-item {% if not nav.back %}disabled{% endif %}">
        <a class="page-link" href="{% url 'all_posts'%}?page={{nav.back}}&filter={{filter}}">
        Назад
        </a>
        </li>
        {% for i in nav.range %}
        <li class="page-item">
        <a class="page-link" href="{% url 'all_posts'%}?page={{i}}&filter={{filter}}">
        {{i}}
        </a>
        </li>
        {% endfor %}
        <li class="page-item {% if not nav.front %}disabled{% endif %}">
        <a class="page-link" href="{% url 'all_posts'%}?page={{nav.front}}&filter={{filter}}">
        Вперед
        </a>
        </li>
   </ul>
  </nav>
  <!-- Это важно, поскольку джанго использует статические файлы, и я не хочу писать скрипт здесь, поэтому надо передавать как-то путь к картинкам. -->
  <script>
   window.likeSprites = {
          normal: "{% static 'img/like.png' %}",
          pressed: "{% static 'img/like_pressed.png' %}",
      };
      window.dislikeSprites = {
          normal: "{% static 'img/dislike.png' %}",
          pressed: "{% static 'img/dislike_pressed.png' %}",
      };
      {% comment %} Всякие штуки из django в js {% endcomment %}
    window.page = {{page}};
    window.filter = {{filter}};
  </script>
  <script src="{% static 'js/posts_allPostsStuff.js' %}"></script>
 </body>
</html>
