{% load static %}
<header class="menu">
    <a href="{% url 'index' %}">
     <img class="GoToMain" src="{% static 'img/Logo.webp' %}"/>
    </a>
    <div class="container-fluid">
     <div class="col badcol Panel">
      <div class="row badrow BeforeKnopka">
       <div class="col MenuTable">
        <a class="GoToMenu" href="{% url 'menu' %}">
         Меню
        </a>
        <a class="GoToTeam" href="{% url 'contacts' %}">
         О команде
        </a>
        <a class="GoToPosts" href="{% url 'all_posts' %}">
         Посты
        </a>
        {% if user.is_authenticated %}
        <a href="{% url 'my_posts' %}">
         Мои отзывы
        </a>
        {% endif %}
       </div>
      </div>
      <div class="button-container">
       {% if user.is_authenticated %}
       <a href="{% url 'profile' %}" id="profile-button">
        {% if user.profilePic %}
       <img alt="Личный кабинет" class="ImgIcon"  src="{{user.profilePic.url}}" />
       {% else %}
       <img alt="Личный кабинет" class="ImgIcon" src="{% static 'img/ИконкаАватара.png' %}" />
       {% endif %}
       </a>
       <a href="{% url 'logout' %}"> <button href="{% url 'logout' %}" id="logoutButton">
       Выйти
       </button></a>
       {% else %}
       <button id="loginButton">
        Вход
       </button>
       {% endif %}
      </div>
      <div class="overlay" id="overlay">
      </div>
      <div class="form-container-authorization" id="loginForm">
       <form action="{% url 'login' %}" class="loginFormContent" method="POST">
             {% csrf_token %}
        <div class="text-center">
         <label for="Email" style="color: white;">
          Логин
         </label>
         <br/>
         <input id="Email" name="username" style="width: 100%;" type="Text"/>
         <!-- required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"-->
         <br/>
         <br/>
         <label for="Password" style="color: white;">
          Пароль
         </label>
         <br/>
         <input id="Password" name="password" style="width: 100%;" type="Password"/>
         <!-- required
                           gpattern="^(?=.*[a-zA-Z])(?=.*\d)(?=.*_).{8,}$"
                           title="Пароль должен содержать хотя бы одну букву, одну цифру и ( _ ), и иметь минимум 8 символов."> -->
         <br/>
         <br/>
         <button class="BigButton" type="submit">
          Войти
         </button>
        </div>
        <div class="row BottomText badrow">
         <div class="col-6 TextSleva">
          <p>
           Нет Аккаунта?
          </p>
          <a class="WithoutUnderline" href="{% url 'registration' %}">
           Зарегистрироваться
          </a>
         </div>
         <div class="col-6 TextSprava">
          <p>
           Забыли пароль?
          </p>
          <a class="WithoutUnderline" href="{% url 'reset_password' %}">
           Восстановить пароль
          </a>
         </div>
        </div>
       </form>
       <script>
        const loginButton = document.getElementById('loginButton');
               const overlay = document.getElementById('overlay');
               const formContainer = document.getElementById('loginForm');
               const passwordInput = document.getElementById('Password');
               const submitButton = document.getElementById('submitButton');
               const form = document.getElementById('loginFormContent');
               const errorMessage2 = document.getElementById('errorMessage2');
       
               loginButton.addEventListener('click', function() {
                   overlay.classList.toggle('active');
                   formContainer.classList.toggle('active');
               });
       
               overlay.addEventListener('click', function() {
                 overlay.classList.remove('active');
                 formContainer.classList.remove('active');
               });
       </script>
      </div>
      <div class="dropdown Knopka">
       <a aria-expanded="false" class="btn dropdown-toggle" data-bs-toggle="dropdown" id="dropdownMenuLink" role="button">
        <img class="MenuKnopka" src="{% static 'img/Кнопка.png' %}"/>
       </a>
       <ul aria-labelledby="dropdownMenuLink" class="dropdown-menu text-center">
        <li>
         <a class="GoToMenu" href="{% url 'menu' %}">
          Меню
         </a>
        </li>
        <hr/>
        <li>
         <a class="GoToTeam" href="{% url 'contacts' %}">
          О команде
         </a>
        </li>
        <hr/>
        <li>
         <a class="GoToPosts" href="{% url 'all_posts' %}">
          Посты
         </a>
        </li>
        {% if user.is_authenticated %}
        <hr/>
        <li>
         <a class="GoToSelfPosts" href="{% url 'my_posts' %}">
          Мои отзывы
         </a>
        </li>
        {% endif %}
       </ul>
      </div>
     </div>
    </div>
   </header>