body {
    background-image: url("../img/Background.png");
    margin: 0px;
    overflow-wrap: break-word;
    overflow-x: hidden;
}

.row {
    margin: 0 !important;
}

.Otz{
    color:  white;
}

.ContainerOfAllPosts {
    margin-top: 5px;
}

.OnePostContent {
    width: 80%;
    margin-left: 0 !important;
    margin-right: 0 !important;
    justify-self: center;
    margin-bottom: 20px !important;

}

.OnePostBack {
    background-color: white;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 25px;
}

.review {
    border-radius: 10px;
    border: 1px solid;
    padding: 5px;
}

.LikeIcon {
    width: 8vh;
}

.DislikeIcon {
    width: 8vh;
}

.LikesAndDislikes {
    display: flex;
    justify-content: space-between;
}

.Likes {
    margin-bottom: 5px;
}

.Icona {
    padding: 5px 5px 0px 5px;
    border-radius: 50%;
    width: 11vh;
}

.ForIcona {
    text-align: center;
}

.SettingIcon {
    height: 49.275px;
    width: 49.275px;
}

.LeftPadding {
    padding-left: 0 !important;
}

.RightPadding {
    padding-right: 0 !important;
}

.ButtonSetting {
    border-radius: 50%;
}

.ForButtonSetting {
    text-align: end;
}

.LeftPart {
    text-align: center;
    padding-right: 6px !important;
}

.Condition {
    color: #7c7a7a; 
}

.ButtonText{
    align-self: center;
}

.MyBtn {
    font-size: 14px;
    background-color: red;
    border-radius: 50%;
    height: 49.275px;
}

.p1 {
    margin-bottom: 0;
}


@media (max-width: 514px) {

    .LikeIcon{
        width: 5vh;
    }

    .DislikeIcon {
        width: 5vh;
    }

    .Icona {
        width: 8vh;
    }

    .btn.Icona {
        text-align: center !important;
    }
}

.dropdown-toggle::after {
    border-left: 0px !important; 
    border-right: 0px !important;
    margin-left: 0px !important;
}

.MyCity {
    color: black;
    padding-left: 0 !important;
}

@media (max-width: 1200px) {
    .MyCity {
        width: 50% !important;
    }

    .rating {
        width: 50% !important;
    }
}

@media (max-width: 673px) {
    .OnePostContent {
        width: 90%;
    }
}




/* Перекидываю стили из мэйна для формы */
.badcol {
    padding: 0px !important;
    display: flex !important;

}

.badrow {
    margin: 0 !important;
}

.container-fluid {
    padding: 0px !important;
    flex-wrap: nowrap !important;
}

.form-container-authorization {
    display: none;
    position: fixed;
    width: 77vw;
    max-width: 500px;

    height: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background-color: rgb(18, 16, 16);
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    
}

.form-container-authorization.active {
    display: block;
}

@media (max-width: 290px) {
    .form-container-authorization {
        width: 88vw;
    }

    p {
        font-size: 14px;
    }

    a {
        font-size: 14px;
    }
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.overlay.active {
    display: block;
}

.BigButton {
    width: 15vw;
    min-width: 120px;
    height: 10vh;
    font-size: 24px;
    background-color: rgba(33, 37, 41, 1);
    color: white;
}

.BottomText {
    position: absolute;
    bottom: 0;
    padding-bottom: 10px;
    padding-right: 5px;
    width: 97%;
}

.TextSprava {
    text-align: right;
        
    color: white;
    align-self: end;
}


.TextSleva {
    text-align: left;
    color: white;
    padding-left: 0 !important;

}

.WithoutUnderline {
    text-decoration: none;
}

@media (max-width: 520px) {
    .TextSleva {
        width: 50% !important;
    }

    .TextSleva p {
        font-size: 14px !important;
    }

    .TextSleva a {
        font-size: 12px !important;
    }

    .TextSprava {
        width: 50% !important;
    }

    .TextSprava p {
        font-size: 14px !important;
    }

    .TextSprava a {
        font-size: 12px !important;
    }

    .LeftPart {
        width: 100% !important;
    }

    .RightPart {
        width: 100% !important;
    }

    .ForButtonSetting {
        text-align: center;
    }
}



@media (max-width: 388px) {

    .TextSleva p {
        font-size: 12px !important;
    }

    .TextSleva a {
        font-size: 10px !important;
    }

    .TextSprava p {
        font-size: 12px !important;
    }

    .TextSprava a {
        font-size: 10px !important;
    }
}






/* Добавляю понельку с несколькими кнопками */
.BeforeKnopka{
    align-items: center;
}

@media (max-width: 600px) {
    .BeforeKnopka {
        display: none !important;
    }

    .Knopka {
        display: flex !important;
        /* Вот это чтобы справа было */
        justify-content: end;
    }

    .btn {
        text-align: end !important;
        padding: 0 !important;
    }

    .col-6 {
        width: 100% !important;
    }
}

.MenuTable a{
    color: white;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
    background-color: black;
}

.GoToMain {
    height: 49.275px;
    width: 49.275px;
    border: 1px solid;
    border-color: black;
    border-radius: 50%;
    background-color: white;
    margin-left: 10px;
}

.GoToMenu {
    color: black;
    text-decoration: none;
}

.GoToTeam {
    color: black;
    text-decoration: none;
}

.GoToPosts {
    color: black;
    text-decoration: none;
}

.GoToSelfPosts {
    color: black;
    text-decoration: none;
}

.Knopka {
    display: none;
}

.MenuKnopka {
    inline-size: 45%;
    margin-right: 5px;
}

header {
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(32, 32, 32);
}

hr {
    margin-top: 6px !important;
    margin-bottom: 6px !important;
}




/* добавляю в панельку кнопки */
#loginButton {
    background-color: black;
    margin-right: 10px;
    margin-left: 20px;
    color: white;
}

#logoutButton {
    margin-left: 20px;
    margin-right: 10px;
    background-color: black;
    color: white;
}

.Panel {
    display: flex;
    justify-content: space-between;
}

.ImgIcon {
    inline-size: 8vh;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: 20px;
}

.button-container {
    display: flex; /* Для выравнивания кнопок */
    align-items: center; /* Вертикальное выравнивание */
}

.hidden {
    display: none;
}






/* Пост без прорверрки админа */
.PostWithoutCheck {
    background-color: rgb(215, 204, 204);
}